@font-face {
    font-family: 'inter regular';
    src: url('../fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: 'inter medium';
    src: url('../fonts/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: 'inter semi-bold';
    src: url('../fonts/Inter_18pt-SemiBold.ttf');
}

@font-face {
    font-family: 'inter bold';
    src: url('../fonts/Inter_24pt-Bold.ttf');
}